body{
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

a, a:hover, a:visited, a:link{
	color: #000;
	text-decoration: none;
}

.content header{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #F4F4F4;
	text-align: center;
	z-index: 50;
	-webkit-box-shadow: 0 1px 4px #CCC;
	-moz-box-shadow: 0 1px 4px #CCC;
	box-shadow: 0 1px 4px #CCC;
	border-bottom: 1px solid #CDCDCD;
}

.content>.container{
	position: relative;
	top: 60px;
}

#main_menu{
	height: 60px;
}

#main_menu ul{
	list-style-type: none;
	height: 60px;
	margin: 0px;
	padding-left: 30px;
}

#main_menu ul li{
	float: left;
	width: 150px;
	height: 60px;
	line-height: 80px;
	vertical-align: bottom;
	font-size: 20px;
}

#main_menu ul a.current li{
	background-color: #a9002f;
}

#main_menu ul a:hover{
	color: #a9002f;
}

#main_menu ul a.current{
	color: #FFF;
}

#stevensing_logo{
	background: url("../images/logo2.png") no-repeat;
	margin-top: 10px;
	height: 46px;
}

#search_box{
	height: 40px;
	margin: 20px 0 0 0;
	text-align: left;
	/*line-height: 80px;
	vertical-align: bottom;*/
}

#search_box input{
	height:20px;
	border-radius: 6px;
	padding: 2px 6px;
	margin: 6px 5px 2px 2px;
	font-weight: bolder;
}

#search_box input:focus{
	border: 3px solid lightblue;
	margin: 4px 3px 0px 0px;
}

#search_button{
	background-color: #999999;/*#B7375B;*/
	border: 1px solid #222;
	border-radius: 6px;
	padding: 3px;
	color: #FFF;
	font-size: 15px;
	font-weight: bolder;
}

#search_button:hover{
	background-color: #a9002f;
}