body{
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

a, a:hover, a:visited, a:link{
	color: #000;
}

.content header{
	height: 60px;
	background-color: #EEE;
}

#main_menu{
	height: 60px;
}

#main_menu ul{
	list-style-type: none;
	height: 60px;
	margin: 0px;
}

#main_menu ul li{
	float: left;
	width: 150px;
	height: 60px;
	text-align: center;
	line-height: 80px;
	vertical-align: bottom;
	font-size: 20px;
	font-family: verdana, serif;
}

#main_menu ul a.current li{
	background-color: #fff;
}

#main_menu ul a:hover, #main_menu ul a.current{
	color: #a9002f;
}

#stevensing_logo{
	background: url("../images/logo2.png") no-repeat;
	margin-top: 10px;
	height: 46px;
}