#courseinfo{
	height: 216px;
	font-size: 12px;
	border-bottom:1px solid #D9DCE2;
}
#courseinfo h1{
	margin: auto;
	padding: 10px;
	margin: 5px;
	font-size: 28px;
	padding-top: 22px;
}
#number, #department{
	color: #800000;
	font-family:Arial;
}
#courseinfo span{
	padding: 2px;
}
#professor{
	font-family:Arial;
	padding: 0px;
	margin:0px;
	font-size: 18px;
	font-weight:900;
	color: #900000;
	text-align: right;
}
#courseinfo p{
	margin: 2px;
}
#lcourse{
	float: left;
	width: 365px;
	padding: 5px;
}
#rcourse{
	float: left;
	vertical-align: bottom;
}
#description{
	border-right:1px solid #D9DCE2;
}

.star_rating{
	width: 150px;
	height: 30px;
	background: url("../images/star_ratings.png") no-repeat 0px 0px;
}

.star_0{
	background-position: -150px 0px;
}

.star_1{
	background-position: -120px 0px;
}

.star_2{
	background-position: -90px 0px;
}

.star_3{
	background-position: -60px 0px;
}

.star_4{
	background-position: -30px 0px;
}

.star_5{
	background-position: 0px 0px;
}

.star_half{
	background-position: -120px -30px;
}

.star_half_1{
	background-position: -90px -30px;
}

.star_half_2{
	background-position: -60px -30px;
}

.star_half_3{
	background-position: -30px -30px;
}

.star_half_4{
	background-position: 0px -30px;
}