#register_bar {
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 190px;
}

#register_bar li {
  float: left;
  font-size: 14px;
  font-weight: bold;
}

#register_bar li a {
  color: #FFF;
  display: block;
  background: #999;
  text-decoration: none;
  position: relative;
  height: 40px;
  width: 190px;
  line-height: 40px;
  padding: 10px 10px 10px 5px;
  text-align: center;
  margin-right: 23px;
  border-bottom: 2px solid #FFF;
}

#register_bar li:first-child a {
  -webkit-border-radius: 6px 0 0 0px;
  -moz-border-radius: 6px 0 0 0px;
  -ms-border-radius: 6px 0 0 0px;
  -o-border-radius: 6px 0 0 0px;
  border-radius: 6px 0 0 0px;
}

#register_bar li:last-child a {
  -webkit-border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  -ms-border-radius: 0 0 0 6px;
  -o-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

#register_bar li a.current:after {
  content: "";
  position: absolute;
  top: 0;
  /*border: 0 solid #999;*/
  border-style: solid;
  border-width: 30px 20px;
  /*width: 0;
  height: 0;*/
  left: 100%;
  border-color: transparent;
  border-left-color: #a9002f;
}

#register_bar li a:hover {
  color: #fff83b;
}

#register_bar li a.completed, #register_bar li a.current {
  background-color: #a9002f;
}

#register_bar li a.completed:after{
  border-left-color: #a9002f;
}

.register_steps{
  display: none;
  padding-left: 350px;
}

.register_steps label{
  font-size: 15px;
  display: block;
}

.register_steps input[type="text"], .register_steps input[type="password"]{
  width: 200px;
  font-size: 15px;
  display: inline-block;
  font-size: 14px;
  margin: 0px;
  border-radius: 6px;
  padding: 2px 6px;
  margin: 2px 5px 4px 2px;
}

.register_steps input[type="text"]:focus, .register_steps input[type="password"]:focus{
  border: 3px solid lightblue;
  margin: 0px 3px 2px 0px;
}

.register_steps>div{
  float: left;
  width: 500px;
  padding: 5px 20px;
}
.next_register_step{
  display: inline-block;
  text-align: right;
}
.next_register_step a{
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #999;
  color:#FFF;
  margin-right: 20px;
}

.next_register_step a:hover, .next_register_step a:focus{
  background-color: #a9002f;
}

.check_message{
  margin: 0px;
  padding: 0px;
}

#register_step_1>div:nth-of-type(2), #register_step_1>div:nth-of-type(3) {
  width: 220px;
}

#register_step_1>div:nth-of-type(4) input, #register_step_1>div:nth-of-type(5) input {
  width: 460px;
}

#register_step_2>div {
  width: 220px;
}

#register_step_2>div:nth-of-type(3), #register_step_2>div:last-child{
  width: 500px;
}

#register_step_2>div:nth-of-type(4) div label{
  display: inline;
  font-size: 14px;
}


