@charset "utf-8";
.block {
	
	width: 550px;
	position:relative;
}
.block-top {
	
	background-repeat: no-repeat;
	height: 3px;
	width:550px;
	font-size: 1px;
	line-height: 1px;
}


.block-bottom {
	

	height: 10px;
}


#contact-content {
	background-color: #FFF;
	/*background-image: url(../images/friends_st_paper-bg.jpg);*/
	background-repeat: no-repeat;
	padding: 15px 30px;

}
#contact-text {
	font-family: Arial, Helvetica, sans-serif;
	color:#a9002f; 
	background-image: none;
	font-size: 20px;
	font-weight: 900;
	height: 15px;
	width: 167px;
	text-indent: -9999px;
	margin-bottom: 60px;

}

#form_box p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #666666;
	margin-bottom: 0px;
}
.fieldclass {
	border: 1px solid #c8c8c8;
	height: 100px;

	font-size: 16px;
	color: #333333;
	line-height: 13px;
	margin-bottom: 20px;
	width: 460px;
}
#button a{

	font-size: 16px;
	float: right;
	text-align: center;
	border: 1px solid #000;
	border-radius: 5px;
	width:50px;
	height:25px;
	margin: 10px 10px 10px 10px ;
	line-height: 25px;

	
	 
}
#button a:hover{
color:#FFF;
background-color: #a9002f;

}


#status_list{
	padding: 20px 10px;
}

#status_list h1{
	font-size: 20px;
	font-weight: bold;
}

#status_list ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.friend_status_list{
	display: inline-block;
	margin: 5px 0px;
	padding: 2px;
	background: #f5f5f5;
}

.friend_status_list img{
	width: 40px;
	float: left;
	margin-right: 5px;
}

.friend_status_list  div{
	float: left;
	width: 480px;
	font-size: 13px;
	font-weight: bold;
}
 
.friend_status_list section div{
	float: left;
	width: 480px;
	font-weight: bold;
}
.friend_status_list section div span{
	font-size: 11px;
	
	font-weight: normal;
}

.friend_status_list section{
	float: left;
	width: 480px;
	font-size: 14px;
}


.friend_status_list section p{
	margin: 0px;
	
	
}
.othersReply{
	font-size: 13px;

}
.OthersReply a{
	float: left;
	font-size: 13px;
	color: #a9002f;
	padding-right: 10px;
}
.OthersReply p{
	font-weight: normal;
}


.OthersReply a:hover{
	text-decoration: underline;
}
.OthersReply div>a{
	color: #a9002f;
	font-size: 10px;
	float: right;
	padding-right: 10px;
}
.OthersReply div>a:hover{
	
	text-decoration: underline;
}



.replyline a{
	
	color: #a9002f;
	padding-left: 430px;
}
.replyline  a:hover{
	text-decoration: underline;
}

.replyline span{

	font-size: 15px;
}


.course_status_list{
	display: inline-block;
	margin: 3px 0px;
	padding: 2px 0px 2px 45px;
	background: #f5f5f5;
}



.course_status_list img{
	width: 40px;
	float: left;
	margin-right: 5px;
}

.course_status_list  div{
	float: left;
	width: 480px;
	font-size: 13px;
	font-weight: bold;
}
.course_status_list div span{

	font-size: 15px;
}
.course_status_list section div{
	float: left;
	width: 480px;
	
	font-weight: bold;
}
.course_status_list section div span{
	font-size: 11px;
	
	font-weight: normal;
}

.course_status_list section{
	float: left;
	width: 480px;
	font-size: 14px;
}


.course_status_list section p{
	margin: 0px;
	
	
}


#event_list{
	padding: 20px 10px;
	margin-top: 10px;
	background-color: #eee;
	height: 150px;
}
#event_list h1{
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	margin-top: -20px;
}

#event_list ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}