RewriteEngine	on
RewriteBase		/stevensing

#RewriteRule	^(.+[^/])$					$1/				[R]
#RewriteRule	^(/w+)/(/w+)/([^/]+)/$	$1?($2=$3)		[R]
#RewriteRule		^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([^/]+)(/([a-zA-Z0-9]+)/([^/]+))*/?$	$1.php?$2=$3&$5=$6		[R]
#RewriteRule		^search/([0-9]+)/([a-zA-Z0-9%]+)$	search.php?id=$1&name=$2


RewriteRule		^home$						homepage.php
RewriteRule		^welcome$					index.php
RewriteRule		^([a-zA-Z0-9]+)Action$		actions/$1Action.php
RewriteRule		^([a-zA-Z0-9]+)$			$1.php
