body{
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

a, a:hover, a:visited, a:link{
	color: #000;
	text-decoration: none;
}

.content header{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #F4F4F4;
	text-align: center;
	z-index: 50;
	-webkit-box-shadow: 0 1px 4px #CCC;
	-moz-box-shadow: 0 1px 4px #CCC;
	box-shadow: 0 1px 4px #CCC;
	border-bottom: 1px solid #CDCDCD;
}

.content>.container{
	position: relative;
	top: 60px;
}

#stevensing_logo{
	background: url("../images/logo2.png") no-repeat;
	margin-top: 10px;
	height: 46px;
	border: 0px;
}

#main_menu{
	height: 60px;
}

#main_menu ul{
	list-style-type: none;
	height: 60px;
	margin: 0px;
	padding-left: 20px;
}

#main_menu ul li{
	float: left;
	width: 120px;
	height: 60px;
	line-height: 80px;
	vertical-align: bottom;
	font-size: 20px;
	/*font-weight: bold;*/
}

#main_menu ul a.current li{
	background-color: #a9002f;
}

#main_menu ul a:hover{
	color: #a9002f;
}

#main_menu ul a.current{
	color: #FFF;
}

#account_menu{
	float: left;
	height: 60px;
	position: relative;
	top: 22px;
	/*line-height: 80px;
	vertical-align: bottom;*/
	font-size: 18px;
}

#account_menu:hover span{
	color: #a9002f;
}

#account_menu:hover>ul{
	opacity: 1;
}

#account_menu_icon{
	position: relative;
	top: 5px;
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url("../images/icon_drop.png") no-repeat 0px 0px;
}

#account_menu ul{
	width: 154px;
	opacity: 0;
	-webkit-transition: opacity .2s ease .1s;
    -moz-transition: opacity .2s ease .1s;
    -o-transition: opacity .2s ease .1s;
    -ms-transition: opacity .2s ease .1s;
    transition: opacity .2s ease .1s;
	background: #FFF;
	list-style-type: none;
	border: 1px solid #D9DCE2;
	padding: 0px;
	margin-top: 7px;
}

#account_menu ul li{
	padding: 10px 0px;
	margin: 0px;
	border-bottom: 1px solid #D9DCE2;
	-webkit-transition: height .2s ease .1s;
    -moz-transition: height .2s ease .1s;
    -o-transition: height .2s ease .1s;
    -ms-transition: height .2s ease .1s;
    transition: height .2s ease .1s;
}

#account_menu ul li:hover{
	color: #a9002f;
}


#search_box{
	height: 40px;
	margin: 20px 0 0 0;
	text-align: left;
	/*line-height: 80px;
	vertical-align: bottom;*/
}

#search_box input{
	width: 145px;
	height:20px;
	border-radius: 6px;
	padding: 2px 6px;
	margin: 6px 5px 2px 2px;
	font-weight: bolder;
}

#search_box input:focus{
	border: 3px solid lightblue;
	margin: 4px 3px 0px 0px;
}

#search_button{
	background-color: #999999;/*#B7375B;*/
	border: 1px solid #222;
	border-radius: 6px;
	padding: 3px;
	color: #FFF;
	font-size: 15px;
	font-weight: bolder;
}

#search_button:hover{
	background-color: #a9002f;
}

#leftside{
	border-right: 1px solid #D9DCE2;
}

#profile_picture{
	width: 150px;
	height: 150px;
}

#profile_picture img{
	padding: 10px;
	width: 130px;
}

#edit_profile_picture{
	font-size: 14px;
	text-indent: 20px;
	width: 50px;
	height: 20px;
	background: url("../images/icon_edit.png") no-repeat #FFF;
	z-index: 2;
	display: none;
	position: relative;
	top: -40px;
	left: 50px;
}

#profile_info{
	padding: 0px 10px;
	height: 40px;
}
#profile_info p{
	display: inline;
	text-align: left;
	height: 20px;
	padding: 2px 0px;
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
}

.main_view{

}